.connetc{
  display: flex;
  width: 252px;
  margin-top: 20px;
  margin-left: 40px;
    img{
        width: 80px;
        height: 80px;
        border-radius: 10px;
        margin-right: 15px;
    }
}
