.exploreMoreContainer {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  width: 100%;
  background-color: #fcf8f3;
  @media (max-width:1200px) {
  flex-direction: column;


  }
  
  .leftContent {
    padding-left: clamp(20px, 4vw, 100px);
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
    @media (max-width:1200px) { 
      margin: auto;
      }
      
  }
  h2 {
    margin: 0;
    font-weight: 700;
    font-size: 40px;
    line-height: 120%;
    letter-spacing: 0%;
    color: #3a3a3a;
  }
  p {
    font-weight: 500;
    font-size: 16px;
    line-height: 150%;
    letter-spacing: 0%;
    color: #acacac;
  }
  .btn {
    border: none;
    background-color: #b88e2f;
    padding: 13px 25px;
    color: white;
  }
  .rightContent {
    padding-top: 44px;
    padding-bottom: 44px;
   
  }
}
