@use "@/styles/abstracts/variables" as *;
@use "@/styles/abstracts/mixins" as *;

.furnitureSection {
  margin: 0 auto;
}

.header {
  text-align: center;
  margin-bottom: 48px;

  .headerText {
    color: $clr-lightGrey;
    font-size: $fnt-size-xl;
    font-weight: 600px;
    margin-bottom: 5px;
    font-family: $primary-font;
    line-height: 100%;
    letter-spacing: 0%;
    text-align: center;
  }
  .headerTitle {
    font-family: $primary-font;
    font-size: $fnt-size-9xl;
    font-weight: 700;
    color: $clr-grey;
    line-height: 100%;
    letter-spacing: 0%;
    text-align: center;
  }
}

.imageGallery {
  display: flex;
  flex-direction: column;
  gap: 2px;
  overflow: hidden;
  .imageRow {
    display: flex;
    width: 200%;
    animation: slide 30s linear infinite;
    gap: 9px;
  }
  .image {
    width: calc(12.5% - 2px);
    height: 250px;
    object-fit: cover;
    transition: transform 0.3s ease, box-shadow 0.3s ease;
  }
  .image:hover {
    transform: scale(1.1);
    box-shadow: 0 8px 16px rgba(0, 0, 0, 0.2);
    z-index: 10;
  }
}

@keyframes slide {
  0% {
    transform: translateX(0);
  }
  100% {
    transform: translateX(-50%);
  }
}

.imageRow:nth-child(even) {
  animation-direction: reverse;
}

.imageRow:nth-child(2) {
  animation-duration: 35s;
}

.imageRow:nth-child(3) {
  animation-duration: 40s;
}

@media (max-width: 1024px) {
  .image {
    width: calc(16.666% - 2px);
    height: 200px;
  }
}

@media (max-width: 768px) {
  .image {
    width: calc(25% - 2px);
    height: 180px;
  }
}

@media (max-width: 480px) {
  .image {
    width: calc(50% - 2px);
    height: 150px;
  }
}
