.CategoryCard {
  display: flex;
  flex-direction: column;
  .cardImage {
    width: 100%;
    height: auto;
  }
  .content {
    text-align: center;
    font-family: "Poppins", sans-serif;
    font-weight: 600;
    font-size: clamp(18px, 2vw, 24px);
    line-height: 36px;
  }
}
