.cardWrapper {
  max-width: 210px;
  border: 1px solid #f1f1f1;
  border-radius: 10px;
  padding: 10px;
  &:hover {
    transform: translateY(-4px);

    .hoverActions {
      opacity: 1;
      visibility: visible;
      transform: translateY(0);
    }
  }
  .cardImageDiv {
    position: relative;
    overflow: hidden;
  }
  // .cardImage {
  //     width: 100%;
  //     height: 173px;
  //     border-radius: 5px;
  //   }
  .cardImage {
    width: 100%;
    display: block;
    object-fit: cover;
    aspect-ratio: 1/1;
  }

  .hoverActions {
    position: absolute;
    top: 10%;
    right: 12px;
    transform: translateY(-50%);
    display: flex;
    flex-direction: column;
    gap: 10px;
    opacity: 0;
    visibility: hidden;
    transition: all 0.3s ease;
  }

  .iconButton {
    background-color: #fff;
    border: 2px solid #acacaa;
    border-radius: 8px;
    padding: 4px;
    font-size: 16px;
    cursor: pointer;
    transition:
      0.3s,
      border-color 0.3s;

    &:hover {
      background-color: #f5f5f5;
      border-color: #ff4d4f;
      svg {
        color: #ff4d4f;
      }
    }

    svg {
      color: #000;
      transition: color 0.3s;
    }
  }
  .filledHeart {
    color: #ff4d4f !important;
  }
  .filledBasket {
    color: #ff4d4f !important;
  }
  .cardDetails {
    .cardTitle {
      font-family: "Poppins", sans-serif;
      font-weight: 500;
      font-size: clamp(10px, 2vw, 16px);
      color: #3a3a3a;
    }
    .cardDescription {
      color: #acacac;
      font-family: "Poppins", sans-serif;
      font-weight: 500;
      font-size: clamp(10px, 2vw, 14px);
    }

    .cardPrice {
      display: flex;
      gap: 10px;
      .currentPrice {
        font-family: "Poppins", sans-serif;
        font-weight: 500;
        font-size: clamp(10px, 2vw, 14px);
        color: #3a3a3a;
      }

      .price {
        font-family: "Poppins", sans-serif;
        font-weight: 500;
        font-size: clamp(8px, 1.5vw, 12px);
        text-decoration: line-through;
        color: #acacac;
      }
    }
  }
}
