@use "@/styles/abstracts/variables.scss" as *;
@use "@/styles/abstracts/mixins.scss" as *;

.heroContainer {
  width: 100vw;
  position: relative;
  padding-top: clamp(10px, 5vw, 65px);
  padding-bottom: clamp(10px, 5vw, 65px);
  .heroBackground {
    background-image: url(../../assets/Hero/heroBackground.svg);
    height: 710px;
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;

    @include max($mobile-l) {
      height: 400px;
      width: 585px;
      background-position: 70%;
    }
  }
  img {
    object-fit: cover;
    width: 100%;
  }

  .heroContent {
    display: flex;
    position: absolute;
    border-radius: 10px;
    right: clamp(100px, 2vw, 20px);
    bottom: clamp(0vw, 5vw, 8vw);
    flex-direction: column;
    justify-content: space-between;
    max-width: $mobile-l;
    max-height: 443px;
    background-color: $clr-white-second;
    padding: 37px 43px 37px 39px;
    margin: 20px 0 20px 20px;
    @include max($tablet-L) {
      right: 30px;
    }

    @include max($mobile-l) {
      position: static;
      max-width: 100%;
      margin: 0 auto;
    }

    h5 {
      font-family: $primary-font;
      font-weight: 600;
      font-size: clamp($fnt-size-3xs, 1.5vw, $fnt-size-md);
      letter-spacing: 3px;
      color: $clr-grey;
    }
    h1 {
      font-family: $primary-font;
      font-weight: 700;
      font-size: clamp(20px, 1.5vw, 52px);
      line-height: clamp(24px, 4vw, 45px);
      color: $clr-golden;
      @include max($tablet-l) {
        color: $clr-golden;
      }
    }

    p {
      font-family: $primary-font;
      font-weight: 500;
      font-size: clamp(12px, 2vw, 18px);
      line-height: clamp(20px, 3vw, 24px);
      color: $clr-grey;
    }
    .heroBtn {
      font-family: $primary-font;
      font-weight: 700;
      font-size: clamp(12px, 1vw, $fnt-size-md);
      color: $clr-white;
      background-color: $clr-golden;
      padding: clamp(10px, 1.5vw, 18px) clamp(10px, 2vw, 15px);
      max-width: 55%;
      margin-top: 18px;
    }
  }
}
