@use "@/styles/abstracts/variables" as *;

.topCategoriesWrapper {
  width: 100vw;
  margin: 0 auto;
  .topCategoriesContainer {
    width: 90%;
    max-width: $max-width;
    margin: 0 auto;

    .topCategoriesHeader {
      text-align: center;
      .title1 {
        font-family: $primary-font;
        font-weight: 700;
        font-size: clamp($fnt-size-3xl, 2vw, $fnt-size-7xl);
      }
      .title2 {
        font-family: $primary-font;
        font-weight: 400;
        font-size: clamp($fnt-size-xs, 2vw, $fnt-size-xl);
        color: $clr-lightGrey;
      }
    }

    .categoryCards {
      padding-top: 30px;
      display: flex;
      flex-wrap: wrap;
      justify-content: center;
      margin: 0 auto;
      gap: 20px;
    }
  }
}
