@use "@/styles/abstracts/variables" as *;
@use "@/styles/abstracts/mixins" as *;


.filterContainer {
  max-width: 500px;
  // width: 100%;
  border: 1px solid #f1f1f1;
  border-radius: 10px;
  padding: 0 12px 15px;
  margin-left: 20px;
  @include max($tablet-l) {
  margin: auto;
     }
  .roomContainer {
    display: flex;
    justify-content: space-between;
    align-items: center;
    cursor: pointer;
    border-bottom: 1px solid #f1f1f1;
    margin-top: 10px;

    .roomName {
      font-family: $primary-font;
      font-weight: 500;
      font-size: 16px;
      line-height: 120%;
      letter-spacing: 0%;
      padding: 10px 0;
      color: #6f6f6f;
      .badge {
        display: inline-flex;
        justify-content: center;
        align-items: center;
        width: 18px;
        height: 18px;
        background-color: $clr-green;
        color: $clr-white;
        font-size: 12px;
        border-radius: 50%;
        margin-left: 8px;
        font-family:$primary-font;
        font-weight: 500;
        line-height: 72%;
        letter-spacing: 0%;
        
      }
   
    }   .toggleBtn{
        font-size: 15px;
        color:$clr-grey;
        font-weight: 500;

      }
    .accordionContent {
      display: flex;
      flex-direction: column;
      padding: 10px 10px 0 10px;
    }
  }

  .label {
    padding: 10px;
    display: flex;
    flex-direction: row-reverse;
    justify-content: space-between;
    align-items: center;
    gap: 8px;
    font-family: $primary-font;
    font-weight: 500;
    font-size: 14px;
    line-height: 150%;
    letter-spacing: 0%;
    cursor: pointer;
    position: relative;
    color:$clr-grey;

    .checkboxInput {
      appearance: none;
      -webkit-appearance: none;
      width: 20px;
      height: 20px;
      border: 1px solid $clr-checkbox;
      border-radius: 4px;
      background-color: $clr-white;
      cursor: pointer;
      transition: background-color 0.2s;
      padding: 2px;
      box-sizing: border-box;
      display: inline-block;
    }

    .checkboxInput:checked {
      background-color: $clr-green;
      box-shadow: inset 0 0 0 1px rgb(225, 233, 225);
    }
  }
}
