@use "@/styles/abstracts/variables" as *;
@use "@/styles/abstracts/mixins" as *;

.title {
  margin-top: 65px;
  text-align: center;

  @include max($tablet-l) {
    margin-bottom: 20px;
  }
}
h1 {
  text-align: center;
}

.allProductsContainer {
  max-width: 1240px;
  margin: auto;
  display: flex;
  margin-top: 40px;
  .leftContainer {
    max-width: 290px;
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: space-between;

    @include max($tablet-l) {
      display: block;
      margin: auto;
      margin-bottom: 20px;
    }

    .bestSellerCard{
      display: flex;
      flex-direction: column;
      border-radius: 10px;
      gap: 15px;
      margin-left: 20px;

      @include max(993px){
        display: none;
      }

      .bestTitle{
        font-size: $fnt-size-md;
        font-weight: 700;
        line-height: 120%;
        color: $clr-grey;
      }

    }
  }
  @include max($tablet-l) {
    flex-direction: column;
    justify-content: center;
  }
}
.showAllBtn {
  cursor: pointer;
  display: flex;
  padding: 10px 45px;
  margin: auto;
  margin-top: 32px;
  border: 1px solid $clr-golden;
  color: $clr-golden;
  font-family: $primary-font;
  font-weight: 600;
  font-size: 16px;
  line-height: 150%;
  letter-spacing: 0%;
}
.paginationContainer {
  display: flex;
  justify-content: center;
  gap: 38px;
  margin-top: 62px;
  margin-bottom: 80px;
}

.pageBtn {
  padding: 15px 25px;
  border-radius: 10px;
  display: grid;
  place-items: center;
  background-color: $clr-white-second;
  cursor: pointer;
  font-family: $primary-font;
  font-weight: 400;
  font-size: 20px;
  line-height: 100%;
  letter-spacing: 0%;
}

.activePage {
  padding: 15px 25px;
  border-radius: 10px;
  color: $clr-white;
  background-color: $clr-golden;
}
