@use "@/styles/abstracts/variables" as *;

.footer {
    margin: 0 auto;
    font-family: $primary-font;
    background-color: $clr-grey;
    color: $clr-white;
}

.footerContainer {
    padding: 40px 100px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
    gap: 80px;

    @media screen and (max-width: $tablet-l) {
        padding: 40px 50px;
    }
}

.footerTitle {
    font-size: $fnt-size-9xl;
    font-weight: 700;
    line-height: 100%;
}

.footerSectionContainer {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: flex-start;
    text-align: left;
    gap: 120px;

    @media screen and (max-width: 1200px){
        flex-wrap: wrap;
        justify-content: space-around;
        gap: 80px;
    }
    @media screen and (max-width: $tablet-l) {
        gap: 50px;
    }
    @media screen and (max-width: 780px){
        justify-content: unset;
    }
}

.footerSection {
    display: flex;
    flex-direction: column;
    justify-content: center;
    gap: 30px;
    max-width: 315px;

    @media screen and (max-width: 1385px){
        width: 100%;
    }
    @media screen and (max-width: $tablet-L) {
        gap: 20px;
    }
    @media screen and (max-width: 780px) {
        max-width: 295px;
        gap: 15px;
    }
}

.sectionTitle {
    font-size: $fnt-size-xl;
    font-weight: 700;
    line-height: 100%;
}

.sectionTitle::after {
    content: "";
    display: block;
    height: 1px;
    background-color: $clr-rose;
    margin-top: 5px;
}

.links::after {
    max-width: 66px;
    width: 100%;
}

.help::after {
    width: 48px;
}

.locationTitle::after {
    width: 104px;
}

.newsletter::after {
    width: 128px;
}

.sections {
    display: flex;
    flex-direction: column;
    justify-content: center;
    gap: 20px;

    @media screen and (max-width: $tablet-L) {
        gap: 15px;
    }
    @media screen and (max-width: 780px) {
        gap: 10px;
    }
}

.section {
    cursor: pointer;
    transition: 0.3s ease-in-out;
}

.section:hover {
    scale: 0.9;
}

.location {
    max-width: 315px;
    width: 100%;
}

.inputSection {
    display: flex;
    flex-direction: row;
    gap: 40px;
}

.footerInput {
    width: 200px;
    border-bottom: 1px solid $clr-white;
    color: $clr-white;
    font-size: $fnt-size-xs;
    font-weight: 400;
    line-height: 100%;
    gap: 1px;
    height: 22px;
}

.footerInput::placeholder {
    color: $clr-white;
    font-size: $fnt-size-xs;
    font-weight: 400;
    line-height: 100%;
}

.footerBtn {
    height: 22px;
    color: $clr-white;
    font-size: $fnt-size-xs;
    font-weight: 500;
    line-height: 100%;
    transition: 0.3s ease-in-out;
}

.footerBtn:hover {
    scale: 0.8;
}

.copyright {
    max-width: 1400px;
    width: 100%;
    height: auto;
    border-top: 1px solid $clr-white;
    padding-top: 30px;
}
